# Auto generated manifest files
**/*updated.yaml
**/*updated.json
# Secrets
**/*secrets.json
provisioning/README.md
.vscode/settings.json
**/*.crt
**/*.key
**/*.cer
**/*.pfx
**/*.pem
**/*.p7b
**/*-temp.*